@model FilterModel

@{
    Layout = null;
}

@if (Model.CategoryId != "5f8c210ea1bd7e55c439472b")
{
    Html.AddCssFileParts(ResourceLocation.Head, "~/Plugins/Widgets.Slider/Content/style.css");
    <div>
        <form method="post" asp-controller="Catalog" asp-action="Filter">
            <div class="container">
                <div style="text-align: center;"><b>Фильтры</b></div>
                <div>
                    <div class="row">
                        <div class="col-9">
                            Все
                        </div>
                        <div class="col-3">
                            @Html.RadioButtonFor(m => m.InteriorFacade, "Все", new {@checked="checked"})
                        </div>
                        <div class="col-9">
                            Интерьер
                        </div>
                        <div class="col-3">
                            @Html.RadioButtonFor(m => m.InteriorFacade, "Интерьер")
                        </div>
                        <div class="col-9">
                            Фасад
                        </div>
                        <div class="col-3">
                            @Html.RadioButtonFor(m => m.InteriorFacade, "Фасад")
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12">
                        Цена, р
                    </div>
                </div>
                <div>
                    <div style="padding-top:10px;">
                        <admin-input asp-for="PriceMore"/>
                    </div>
                    <div style="padding-top:10px;">
                        <admin-input  asp-for="PriceLess"/>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-12">
                        Ширина
                    </div>
                </div>
                <div>
                    <div style="padding-top:10px;">
                        <admin-input asp-for="WidthMore"/>
                    </div>
                    <div style="padding-top:10px;">
                        <admin-input asp-for="WidthLess"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        Высота
                    </div>
                </div>
                <div>
                    <div style="padding-top:10px;">
                        <admin-input asp-for="HeightMore"/>
                    </div>
                    <div style="padding-top:10px;">
                        <admin-input asp-for="HeightLess"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        Ширина
                    </div>
                </div>
                <div>
                    <div style="padding-top:10px;">
                        <admin-input asp-for="WeightMore"/>
                    </div>
                    <div style="padding-top:10px;">
                        <admin-input asp-for="WeightLess"/>
                    </div>
                </div>
                
                <div class="row" style="padding-top:10px;">
                    <div class="col-9">
                        Гибкость:
                    </div>
                    <div class="col-3">
                        <admin-input asp-for="IsGibkiy"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-9">
                        В наличии:
                    </div>
                    <div class="col-3">
                        <admin-input asp-for="InStock"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-9">
                        Наличие подсветки:
                    </div>
                    <div class="col-3">
                        <admin-input asp-for="IsPodsvetka"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-9">
                        Пример:
                    </div>
                    <div class="col-3">
                        <admin-input asp-for="IsExample"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-9">
                        Новинка:
                    </div>
                    <div class="col-3">
                        <admin-input asp-for="IsNew"/>
                    </div>
                </div>
            </div>
            <div style="text-align: center;">
                <button class="btn btn-success" type="submit" name="save"><i class="fa fa-check"></i> Применить </button>
                <button class="btn btn-error" type="submit" formaction="@Url.Action("RemoveFilters", "Catalog")" name="cancel"><i class="fa fa-check"></i> Отменить </button>
            </div>
            <div style="visibility: hidden;">
                <admin-input asp-for="CategoryId" value="@Model.CategoryId"/>
            </div>
        </form>
    </div>
}